{% extends 'admin/layout.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}
    {% autoescape false %}
        <div class="row">
            <div class="col col-12 col-lg-9">
                <h2 class="mb-4">
                    {{ 'user.edit.page_title'|trans({}, 'admin') }}
                </h2>

                {{ include('admin/user/_form.html.twig') }}
            </div>
            <div class="col col-12 col-lg-3">
                <p class="text-right">
                    <a href="{{ path('admin_user_create') }}" class="btn btn-lg btn-block btn-success">
                        <i class="fas fa-plus"></i> {{ 'user.button.create'|trans({}, 'admin') }}
                    </a>
                </p>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}
