<header id="main-header">
    <div class="container-fluid p-3">
        <div class="d-flex justify-content-center">
                <img src="{{asset('build/images/logo.png')}}" alt="Logo" />
        </div>
    </div>
</header>