<header>
    <nav class="container-fluid text-right p-3">
        <a href="{{ path('app_home') }}">
            <img src="{{asset('build/images/logo.png')}}" alt="Logo" />
        </a>
    </nav>
</header>