/* =============================================================================
    =   VARIABLES
============================================================================= */
/**
Border radius
 */
$border_radius: 10px;

/**
Font family
 */
$ff_regular: 'Open Sans', sans-serif;
$ff_bold: 'Open Sans', sans-serif;


/* COLORS */
$color_1: #2c4969;
$color_2: #efefef;
