$web-font-path: 'data:text/css;base64,';
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";


@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";

body { background-color: #f5f5f5; color: #292b2c; }
body.login {
    background: url('../images/login.jpg') no-repeat center/cover;
}
body.signup {
    background: url('../images/regitster.jpg') no-repeat center/cover;
}
body > .container,
body > .container > div {
    height: 100%;
}
header { background-color: #2c4969; }

#main-loader {
    display: none;
}

.login-form {
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    background-color: #fff;
    max-width: 500px;
    padding: 50px 75px;
    box-sizing: border-box;
    margin: 15px 0;
    @media (max-width: 992px) {
        margin: 15px auto;
    }

    h2 {
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid #bfbfbf;
        margin: 0;
    }
    
    .logo {
        text-align: center;
        margin: 0 0 30px;
    }
    
    .ico {
        text-align: center;
        font-weight: bold;
        margin: 0 0 30px;
        font-size: 1.6rem;
    }
    
    #new-profile {
        margin-top: 20px;
        padding-top: 10px;
        font-size: 0.9rem;
        border-top: 1px solid #bfbfbf;
        color: #656565;
        text-align: center;

        a {
            color: #ff3d3d;
        }
    }
    
    input[type='date'], 
    input[type='username'], 
    input[type='text'], 
    input[type='email'], 
    input[type='password'] {
        padding: 5px 0;
        width: 100%;
        border: 0;
        border-bottom: 1px solid #000;
        background: none;
        outline: none;
        border-radius: 0;
        outline: none;
        
        &:hover, &:focus {
            box-shadow: 0 0 0;
        }
    }
    
    button {
        color: #fff;
        background-color: #ff3d3d;
        width: 100%;
        border: 0;
        padding: 12px;
        margin-top: 15px;
        border-radius: 4px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        border: 0;
        box-shadow: 0 0 0;
        box-sizing: border-box;
    }

    .tabs-signup {
        display: flex;
        justify-content: center;
        margin: 0;

        > li {
            flex: 1;

            span, a {
                width: 100%;
                text-align: center;
            }
        }
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #ff3d3d;
    }
}

body.signup .login-form {
    max-width: 100%;
}
