$web-font-path: 'data:text/css;base64,';
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";

@import "./abstracts/variables";
@import "./abstracts/mixins";

/* =============================================================================
    =   Search
============================================================================= */
#search {
    .info {
        font-size: 1.4rem;
        font-weight: 200;
        margin-top: 60px;
    }

    .search {

        > p {
            font-size: 1.2rem;
            font-weight: 200;
            margin-top: 60px;
        }
    }
}