$web-font-path: "data:text/css;base64,";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";

@import "./abstracts/variables";
@import "./abstracts/mixins";

/* =============================================================================
    =   Search
============================================================================= */
#search {
  padding-bottom: 75px;
  //background-image: url("../images/search/01.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  overflow: hidden;

  .slider-img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    > div {
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        display: none;

        &:first-child {
            display: block;
        }
    }

    /*img {
      position: absolute; 
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: none;

      &:first-child {
          display: block;
      }
    }*/
  }

  .intro {
    margin: 0;
    padding: 75px 0 120px;
    position: relative;

    > span {
      display: block;
      font-weight: 600;
      color: #fff;

      &:first-child {
        font-size: 1.6rem;
      }

      &:last-child {
        font-size: 2.4rem;
      }
    }
  }

  .search {
    .title-search {
      font-size: 1rem;
      margin-bottom: 15px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 400;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      &:after {
        content: "";
        display: block;
        border-top: 2px solid #fff;
        flex: 1;
        margin-left: 20px;
      }
    }
  }

  button {
    width: 100%;
    background-color: #cc3333;
    color: #fff;
    opacity: 1;
    border-radius: 5px;
    overflow: hidden;
  }

  .input-group {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;

    input[type="text"] {
      order: 1;
      border: 0;

      &:hover,
      &:focus {
        box-shadow: 0 0 0;
      }

      &:disabled {
        background-color: #fff;
      }
    }

    .input-group-append {
      order: 0;

      &:after {
        content: "";
        border-right: 1px solid #ced4da;
        display: block;
        height: 70%;
        display: block;
        position: relative;
        top: 15%;
      }
    }

    .input-group-text {
      background: #fff;
      border: 0;
      border-radius: 0;
    }

    .loader-search {
      padding: 0;
      right: 0;
    }
  }
}

#search-info {
  .content {
    margin: 60px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    > div {
      width: 100%;
      text-align: center;
    }

    &.center {
      &:after,
      &:before {
        content: "";
        display: inline-block;
        height: 100px;
        width: 0;
        position: relative;
        border-right: 1px solid #333366;
      }
    }
  }

  p {
    text-align: center;
    color: #333366;
    font-weight: 600;
    margin-bottom: 7px;
    line-height: 1.1;
    padding: 0 30px;
    box-sizing: border-box;

    &:first-child {
      font-size: 3rem;
      margin-bottom: 15px;
    }

    &:nth-child(2) {
      font-size: 4rem;
    }

    &:last-child {
      font-size: 1.2rem;
    }
  }
}

.img-bottom {
  img {
    max-width: 100%;
  }
}

.checkbox-search {
  display: none;
  color: #fff;
}

@media (max-width: 767px) {
  #blc-search-by-skill {
    display: none;
  }

  .checkbox-search {
    display: block;
  }
}
