<div class="form-block">
	<div class="row">
		<div class="form-group col-md-6">
			<label for="institutional-name">Institutional name</label>
			<input type="text" class="form-control" id="institutional-name">
		</div>

		<div class="form-group col-md-6">
			<label for="firstname">Homepage</label>
			<input type="url" class="form-control" id="homepage">
		</div>
	</div>

	<div class="row">
		<div class="form-group col-md-6">
			<label for="email">Email</label>
			<input type="text" class="form-control" id="email" placeholder="name@example.com">
		</div>

		<div class="form-group col-md-6">
			<label for="address">address</label>
			<input type="text" class="form-control" id="address">
		</div>
	</div>

	<div class="form-group button-group text-right">
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
</div>
