<footer id="footer">
	<div>
		<div class="container p-3">
			<div>
				<ul>
					<li><a class="scrolltop" href="#page"><span class="fa fa-angle-up"></span>{{ 'top'|trans }}</a></li>
					<li><a title="Home" href="/">{{ 'nav.home'|trans }}</a></li>
				</ul>
			</div>

			<p>
				<img src="{{asset('build/images/logo-erasmus-footer.png')}}" width="210"><br/>
				{{ 'disclaimer'|trans|raw }}
			</p>
		</div>
	</div>
</footer>
