{
  "institution": [
    {
      "username": "Mon organisme 1",
      "email": "organisme1@silkc-platform.org",
      "homepage": null,
      "dateOfBirth": null,
      "address": null
    },
    {
      "username": "Mon organisme 2",
      "email": "organisme2@silkc-platform.org",
      "homepage": "https://www.monhomepage.com",
      "dateOfBirth": "2010-09-01 10:05",
      "address": "rue de la Paix 75000 Paris"
    }
  ],
  "training": [
    {
      "institution_email": "organisme1@silkc-platform.org",
      "occupation_concept_uri": "http://data.europa.eu/esco/occupation/0b1d8dcb-d941-4d79-99bf-fc10c1806c43",
      "name": "Ma formation AZERTY",
      "location": null,
      "longitude": null,
      "latitude": null,
      "duration_value": null,
      "duration_unity": "hours",
      "duration_details": null,
      "description": null,
      "price": null,
      "currency": "euro",
      "start_at": null,
      "end_at": null,
      "is_online": null,
      "is_online_monitored": null,
      "is_presential": null,
      "url": null
    },
    {
      "institution_email": "organisme2@silkc-platform.org",
      "occupation_concept_uri": "http://data.europa.eu/esco/occupation/0b1d8dcb-d941-4d79-99bf-fc10c1806c43",
      "name": "Ma formation AZERTY",
      "location": "{\"city\":\"Paris, París, Ile-de-France, Metropolitan France, France\",\"lat\":48.8566969,\"lng\":2.3514616}",
      "longitude": "-1.6673405659541642",
      "latitude": "48.109606538309016",
      "duration_value": 10,
      "duration_unity": "hours",
      "duration_details": "Mondays and Tuesdays from 8 a.m. to 10 a.m.",
      "description": "Good formation",
      "price": "2000",
      "currency": "euro",
      "start_at": "2021-08-01 07:00:00",
      "end_at": "2021-08-08 07:00:00",
      "is_online": true,
      "is_online_monitored": true,
      "is_presential": true,
      "url": "https://www.maformationazerty.com"
    }
  ]
}
