<div class="grp-google-map {{ page is defined ? page : '' }}">
    <div class="input-group flex-nowrap mb-2">
        <input class="form-control" 
                type="text" 
                id="address-google-map" 
                {{ placeholder is defined and placeholder is not empty ? 'placeholder=' ~ placeholder ~ '' : '' }}>
        <span class="input-group-append">
            <button type="button" class="btn btn-primary" id="btn-geocode" disabled="disabled">
                <div class="spinner-border spinner-border-sm inactive" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <i class="fa fa-search active"></i>
            </button>
        </span>
    </div>
    <div id="map" {{ allowed is defined and allowed == true ? 'class="not-allowed"' : '' }}></div>
</div>