<div class="form-block">
	<div class="form-group col-md-6 mx-auto">
		<label for="current-password">Current password</label>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">
					<i class="fas fa-lock"></i>
				</span>
			</div>
			<input type="password" class="form-control" id="current-password">
		</div>
	</div>

	<div class="form-group col-md-6 mx-auto">
		<label for="new-password">New password</label>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">
					<i class="fas fa-lock"></i>
				</span>
			</div>
			<input type="password" class="form-control" id="new-password">
		</div>
	</div>

	<div class="form-group col-md-6 mx-auto">
		<label for="confirm-new-password">Confirm new password</label>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">
					<i class="fas fa-lock"></i>
				</span>
			</div>
			<input type="password" class="form-control" id="confirm-new-password">
		</div>
	</div>

	<div class="form-group button-group text-center">
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
</div>
