<div class="form-block">
	<div class="row">
		<div class="form-group col-md-6">
			<label for="lastname">Lastname</label>
			<input type="text" class="form-control" id="lastname">
		</div>

		<div class="form-group col-md-6">
			<label for="firstname">Firstname</label>
			<input type="text" class="form-control" id="firstname">
		</div>
	</div>

	<div class="row">
		<div class="form-group col-md-6">
			<label for="username">Username</label>
			<input type="text" class="form-control" id="username">
		</div>

		<div class="form-group col-md-6">
			<label for="email">Email</label>
			<input type="text" class="form-control" id="email" placeholder="name@example.com">
		</div>
	</div>

	<div class="form-group button-group text-right">
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
</div>
