<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet"> 
        {% block stylesheets %}{% endblock %}
        
		</head>
		<body data-token="{{ user is defined and attribute(user, 'apiToken') is defined ? user.apiToken : false }}" class="{% block body_class %}{% endblock %}">
			{% block carousel %}{% endblock %}
			{% block header %}{% endblock %}
			{% block body %}{% endblock %}
			{% block javascripts %}{% endblock %}
		</body>
	</html>
</div></body></html>
